@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");

:root {
    --color-primary: black;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 65vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5em;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 75vw;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 85vw;
	}
}

#canvas {
    width: 75vh;
    max-height: 75vh;
    margin-top: 2em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media (orientation: portrait) {
    #canvas {
        max-width: 75vw;
        height: 75vw;
    }
}

button {
    padding: 0.5em;
    margin: 0.5em;
    border: 2px solid var(--color-primary);
    background-color: transparent;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
}

button:hover {
    background-color: var(--color-primary);
    color: white;
}